*{margin: 0;border: 0;}
body{height: 100%;width: 100%;font-size: 1em;}
html{height: 100%;width: 100%;}
#index_head{height: 8%;background-color: #33AECC;line-height: 50px;color: white;}
#head_title{margin-left: 10px;}
	#head_title a{text-decoration: none;color: white;font-size: 1.3em;}
#user{float: right;margin-right: 30px;}
	#user li{float: left;list-style-type: none;display: inline;}
	#user_logo{height: 30px;width: 30px;border-radius: 15px;margin-right: 10px;margin-top: 9px;}

/*左侧导航栏*/
#left_bar{width: 12%;min-width: 150px;height: 92%;background-color: #f2f2f2;text-align: center;font-size: 15px;border-right: 1px solid #CFCFCF;}
.father_menu{cursor: pointer;border-bottom: 1px solid #CFCFCF;}
	.father_menu:hover{background-color: #DBDBDB;}
#left_bar span{height: 35px;line-height: 35px;display: inline-block;margin-right: 12%;}
.father_icon{float: left;height: 15%;width: 15%;margin-left: 6%;margin-top: 7px;}
.son_icon{float: left;height: 20px;width: 15%;margin-left: 15%;margin-top: 9px;}
.arrow{width: 9%;height: 12%;display: inline-block;margin-bottom: -5px;}
#left_bar ul{list-style: none;padding: 0;display: none;}
#left_bar li{border-bottom: 1px solid #E0E0E0;height: 35px;line-height: 35px;padding-left: 10px;padding-right: 10px;background-color: #EEEEE0;}
	#left_bar li:hover{background-color: #DBDBDB;}
#left_bar a{text-decoration: none;color: black;}

/*StuMessageMange*/
#frameWork{height: 100%;}
#content{height: 92%;width: 88%;position: absolute;right: 0;top: 8%;left: 150px;background-color: #F4F4F4;border-left: 1px solid #CFCFCF;}
#top-title{height: 20%;width: 95%;background-color: #FFFFFF;margin-top: 2%;margin-left: 2.5%;}
	#top-title span{margin-left: 3%;font-size: 20px;font-family: 仿宋;padding-top: 1%;display: block;font-weight: bold;}
	#top-title hr{border-top:5px solid #8EE5EE;margin-top: 1%;}
.select{background-color: #f2f2f2;width: 7%;height: 20%;margin-top: 1%;margin-left: 6%;outline: none;}
.list_input{background-color: #f2f2f2;width: 100px;margin-left: 7%;}
.find_btn{background-color: #FFA500;width: 6%;height: 20%;margin-top: 1%;margin-left: 6%;border-radius: 5px;outline: none;}
	.find_btn:hover{background-color: #FF8C00;}

#result{background-color: #FFFFFF;width: 95%;margin-left: 2.5%;margin-top: 2%;height: 70%;overflow-y: scroll;}
	#result img{width: 25px;height: auto;}
	#result img:hover{cursor: pointer;width: 26px;}